.openbtn {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--SecondaryColorDarker);
  z-index: 10;
  border-radius: 50vw;
  border: none;
  outline: none;
  text-decoration: none;

  transform: perspective(1px) translateZ(0) transform 0.2s;
  box-shadow: var(--dp6);

  & .icon {
    line-height: 0.7;
    color: var(--OnS-Dark);
    font-size: 4rem;
    width: 100%;
    flex: none;

    transform: translateZ(0);

    transition-duration: 0.5s;

    transition-property: color;
  }

  &:hover,
  &:active {
    background-color: var(--color-primary-transparent-200);
    box-shadow: var(--dp12);

    & .icon {
      color: var(--PrimaryColor);
    }
  }
}

.sticky {
  position: fixed;
  top: 5%;
  left: 2%;
  display: flex;
  width: 20vh;
  height: 20vh;
}

.closebtn {
  position: fixed;
  text-align: center;
  top: 2.5%;
  border-radius: 2vh;
  right: 1%;
  width: auto;
  height: auto;
  padding: 0;
  background-color: var(--nada);
  transition-property: opacity, transform, width;
  transition-duration: 1.5s;
  box-shadow: var(--dp2);

  & .icon {
    font-size: 6rem;
    display: none;
    color: var(--SecondaryColorDarker);

    transform: translateZ(0);

    transition-duration: 1.5s;

    transition-property: color, opacity;
  }

  &:hover,
  &:active {
    transition: 0.5s;
    box-shadow: var(--dp8);

    & .icon {
      transform: scale(1.3);
      color: var(--SecondaryColorLighter);
      transition: 0.5s;
    }
  }
}

.topnav {
  position: fixed;
  background-color: var(--NavBg);
  box-shadow: var(--dp16);
  height: 100%;
  top: 0%;
  z-index: 11;
  width: 0;
  left: 0;
  overflow: hidden;
  transition-duration: 1.5s;
  transition-property: width, height, background-color, opacity, transform;

  .activa {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 0 auto;
    width: auto;
    height: auto;
    background-color: var(--PrimaryColor);
    box-shadow: var(--dp1);
    border-radius: 2vh;
    left: 0;
    top: 0;

    transform: perspective(1px) translateZ(0);

    transition-property: all;

    transition-duration: 1.5s;

    .icon {
      font-size: 2.5rem;
      flex: none;
      padding: 0;
      width: auto;
      margin: 0 auto;
      line-height: 0.8;
      color: var(--color-primary-200);

      transform: perspective(1px), translateZ(0), scale(1.1);

      transition-duration: 1.5s;

      transition-property: all;
      text-align: center;
      vertical-align: middle;
    }

    .text {
      color: var(--OnP);
      width: auto;
      flex: none;
      margin: 0 auto;
      text-align: center;
      transition: all 1.5s;

      opacity: 1;
    }

    &:hover,
    &:active {
      box-shadow: var(--dp8);

      animation-name: backpulse-links;

      animation-duration: 3s;

      animation-delay: 4s;

      animation-timing-function: ease-in-out;

      animation-iteration-count: infinite;
      animation-fill-mode: forwards;

      background-color: var(--color-primary-transparent-400);

      .icon {
        color: var(--SecondaryColorDarker);
      }

      .text {
        color: var(--SecondaryColorDarker);
      }
    }
  }

  .vl {
    border-left: 2px solid var(--color-success-transparent-500);
    height: 65vh;
    position: absolute;
    left: 20%;
    margin: 0 auto;
    bottom: auto;
    top: 0;
    transition-property: all;
    transition-duration: 1.5s;
    opacity: 1;
  }

  .vl2 {
    border-top: 2px solid var(--color-success-transparent-500);
    width: 100vw;
    position: absolute;
    left: 0;
    top: auto;
    margin: 0 auto;
    bottom: 65%;
    transition-property: all;
    transition-duration: 1.5s;
    opacity: 1;
  }

  .myLinks {
    display: none;
    width: auto;
    position: absolute;
    right: 2.5%;
    bottom: 11.5%;
    padding: 0;
    height: auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    transition-property: all;
    transition-duration: 1.5s;
    opacity: 1;
    .link {
      &:link,
      &:visited {
        flex: none;
        display: flex;
        margin: auto;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-around;
        text-align: center;
        vertical-align: middle;
        width: 28%;
        box-sizing: border-box;
        height: 15vh;
        background-color: var(--Surface);
        border-radius: 2vh;
        box-shadow: var(--dp2);
        z-index: 15;
        transform: perspectiva(1px) translateZ(0);
        transition-duration: 1.5s;
        transition-property: all;
        padding: 2vh;
      }
    }
  }
}

.menu {
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  padding: 0 auto;
  margin: 0 auto;
  overflow: auto;
  display: flex;
  box-sizing: border-box;

  .flip {
    &Card {
      width: 33.3%;
      height: 33.3%;
      perspective: 1000px;
      padding: 2vh;
      box-sizing: border-box;
      position: relative;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      img {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: var(--dp1);
      }

      &:hover {
        transform: rotateY(180deg);
      }

      .frontCard,
      .backCard {
        position: relative;
        width: 100%;
        height: 100%;

        backface-visibility: hidden;
        background-color: #afbed5 /*bg-10-tint)*/;
      }

      .backCard {
        background-color: var(--PrimaryColorLighter) /*bg-4-shade)*/;
        border: 5px solid var(--SecondaryColor);
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
        box-shadow: var(--dp8);
      }
    }
  }
}
